<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isAuto</key>
	<true/>
	<key>enableCrashReport</key>
	<true/>
	<key>apiKey</key>
	<string>3236XG2WWTZ72KR9XTWN</string>
	<key>appVersion</key>
	<string>1.0</string>
	<key>sessionSeconds</key>
	<integer>10</integer>
</dict>
</plist>
